<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 将积极加载改为消息加载即按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.yeelight.pojo"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.0.12:3306/how2java?characterEncoding=utf-8"/>
                <property name="username" value="sheldon"/>
                <property name="password" value="sheldon"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/yeelight/pojo/Category.xml"/>
        <mapper resource="com/yeelight/pojo/Product.xml"/>
        <mapper resource="com/yeelight/pojo/Order.xml"/>
        <mapper resource="com/yeelight/pojo/OrderItem.xml"/>

        <mapper class="com.yeelight.mapper.CategoryMapper"/>
        <mapper class="com.yeelight.mapper.ProductMapper"/>
        <mapper class="com.yeelight.mapper.OrderMapper"/>
        <mapper class="com.yeelight.mapper.OrderItemMapper"/>
    </mappers>
</configuration>